
<!-- 

    For para recorer la lista de pasciente que nos entrega la api
  -->
<ul *ngFor="let pasciente of pascientes"  > 
 
 
         <li>
         
        ID: {{ pasciente.id}} 
             
             
         </li>
        <ul>
         <li class="mayuscula">
            {{ pasciente.nombre }} 
            {{pasciente.apellido}}
            <input type="button" value="Mostrar" (click)="navigatorDetail(pasciente.estatura, pasciente.peso)">
             
         </li>
        </ul>
 
 
 </ul>
 
  
 