<!-- 
    For para recorer la lista de tutoria que nos entrega la api
  -->
<html lang="en">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<body>
  <div class="contenedor">
    <div id="pacientes">
      <table>
      <td class="titulo">
        <div class="cont_titulo">
        <span class="titulo" style="text-align: center;">Lista de tutorias</span>
        </div>
      </td>
      <tr *ngFor="let tutoria of tutorias">
        <td class="Tema">{{tutoria.tema}} - {{tutoria.fecha}}</td>
        <td class="id">ID: {{tutoria.id_tutoria}}</td>
        <td><input type="button" value="Mostrar" (click)="pushDetailPasciente(tutoria.estatura, tutoria.peso)"></td>
      </tr>
      </table>
  </div>
  </div>
</body>
</html>


 
  
 